.griglia {
    width: 1000px;
    height: 1000px;
    display: flex;
    flex-wrap: wrap;
}

.square10 {
    width: calc(1000px / 10);
    height: calc(1000px / 10);
    color: white;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square_active {
    color: black;
    background-color: coral;
}